header{
    display: flex;
}
.nav{
    background-color: #009688;
    width: 88%;
    height: 110px;
    
}
img{
    position: relative;
    width: 12%;
    height: 100px;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    

    
    
}

.color-rouge{
    position: absolute;
    background-color:#009688; 
    width: 8%;
    height: 5em;
    left:23em;
    bottom: 25em;
    
}
.foo-noir{
    position: absolute;
    background-color:#009688;
    width: 8%;
    height: 5em;
    bottom: 17em;
    left: 23em;


}
.b{
    position: absolute;
    background-color: #009688;
    width: 37%;
    height: 5em;
    left: 23em;
    bottom: 9em;
}
.flex{
    
    display: flex;
    width: 20%;
    margin-left: 35em;
    margin-top: 5em;
    justify-content: space-between;
}
.b2{
    position: relative;
    background-color:#009688;
    width: 20%;
    height: 13em;
}
.b3{
    position: relative;
    background-color: #009688;
    width: 14%;
    height: 13em;
}
.b4{
    position: relative;
    background-color: #009688;
    width: 15%;
    height: 13em;
}
.b5{
    position: absolute;
    background-color: #009688;
    width: 25%;
    height: 2em;
    left: 35em;
    bottom: 17em; 
}
.red{
    position: absolute;
    background-color: #009688;
    width: 12%;
    height: 40em;
    align-items: center;
    top: 9em;
    left: 0px;
}
@media screen and (max-width: 967px){
    .nav{
        width: 900px;
    }
    img{
        width: 15%;
    }
    .flex{
    flex-direction: column-reverse;
    margin-left: 2em; 
    gap: 100px; 
    }
    .b2, .b3, .b4{
        height: 4em;
        width: 400px;
    }
    .b5{
        height: 4em;
        left: 5em;
        bottom: 30em;
        width: 400px;
    }
    .center{
        flex-direction: row;
    }
    .red{
        height: 36em;
    }
    .color-rouge{
        width: 400px;
        bottom: 19em;
        left: 5em;
        height: 4em;
    }
    .foo-noir{
        width: 400px;
        bottom: 9em;
        height: 4em;
        left: 5em;
    }
    .b{
        top: 39em;
        left: 5em;
        width: 400px;
        height: 5em;
    }
}
